<template>
  <div class="home">
    <div class="header">
      <div class="logoarea">
        <img class="logo" src="../../public/logo.png" width="100px" height="50px" @click="goHomePage">
      </div>
      <div class="searchbararea">
        <i class="fas fa-search searchicon"></i>
        <input type="text" placeholder="Explor your own activities" class="searchinput" v-model="searchvalue">
      </div>
    </div>
    <div class="mainpage">
      <!-- 左邊頁面 -->
      <div class="leftpage">
        <!-- PC，mobile不顯示 -->
        <div class="card cardstyle mobile-no-use">
          <div class="card-body" style="text-align:left;">
            <h5 class="card-title card-titlestyle">Location</h5>
            <select class="custom-select" id="inputGroupSelect01">
              <option v-for="item in locationList" :value="item.value" :key="item.value">{{ item.label }}</option>
            </select>
          </div>
        </div>
        <div class="card cardstyle mobile-no-use">
          <div class="card-body" style="text-align:left;">
            <h5 class="card-title card-titlestyle">Date</h5>
            <div class="form-group form-groupstyle">
              <label for="fromDate" style="margin:1px 5px 0 0">from</label>
              <input type="text" class="form-control" id="fromDate" placeholder="2018/5/24">
            </div>
            <div class="form-group form-groupstyle">
              <label for="toDate" style="margin:1px 5px 0 0">to</label>
              <input type="text" class="form-control" id="toDate" placeholder="2018/6/1">
            </div>
          </div>
        </div>
        <div class="card cardstyle mobile-no-use">
          <div class="card-body" style="text-align:left;">
            <h5 class="card-title card-titlestyle">Categories</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="All">
              <label class="form-check-label" for="All">All</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Entertainment">
              <label class="form-check-label" for="Entertainment">Entertainment</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Food">
              <label class="form-check-label" for="Food">Food</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Learning">
              <label class="form-check-label" for="Learning">Learning</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Outdoors">
              <label class="form-check-label" for="Outdoors">Outdoors</label>
            </div>
          </div>
        </div>
        <!-- mobile，PC不顯示 -->
        <div class="accordion accordionstyle" id="accordionExample">
          <div class="card cardstyle">
            <div class="card-header collapse-icon-change" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
              <h5 class="card-title card-titlestyle">Location</h5>
              <i class="fas fa-plus icon-plus"></i>
              <i class="fas fa-minus icon-minus"></i>
            </div>
            <div id="collapseOne" class="collapse">
              <div class="card-body" style="text-align:left;">
                <select class="custom-select" id="inputGroupSelect01">
                  <option v-for="item in locationList" :value="item.value" :key="item.value">{{ item.label }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card cardstyle">
            <div class="card-header collapse-icon-change" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
              <h5 class="card-title card-titlestyle">Date</h5>
              <i class="fas fa-plus icon-plus"></i>
              <i class="fas fa-minus icon-minus"></i>
            </div>
            <div id="collapseTwo" class="collapse">
              <div class="card-body" style="text-align:left;">
                <div class="form-group form-groupstyle">
                  <label for="fromDate" style="margin:1px 5px 0 0">from</label>
                  <input type="text" class="form-control" id="fromDate" placeholder="2018/5/24">
                </div>
                <div class="form-group form-groupstyle">
                  <label for="toDate" style="margin:1px 5px 0 0">to</label>
                  <input type="text" class="form-control" id="toDate" placeholder="2018/6/1">
                </div>
              </div>
            </div>
          </div>
          <div class="card cardstyle">
            <div class="card-header collapse-icon-change" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
              <h5 class="card-title card-titlestyle">Categories</h5>
              <i class="fas fa-plus icon-plus"></i>
              <i class="fas fa-minus icon-minus"></i>
            </div>
            <div id="collapseThree" class="collapse">
              <div class="card-body" style="text-align:left;">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="All">
                  <label class="form-check-label" for="All">All</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Entertainment">
                  <label class="form-check-label" for="Entertainment">Entertainment</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Food">
                  <label class="form-check-label" for="Food">Food</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Learning">
                  <label class="form-check-label" for="Learning">Learning</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="Outdoors">
                  <label class="form-check-label" for="Outdoors">Outdoors</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右邊頁面 -->
      <div class="rightpage">
        <h4 class="rightpage-title">Showing 20 result by...</h4>
        <div v-for="article in articleFilteredList" :key="article.id" class='total-content' @click="showContent(article)">
          <img v-if="article.Picture1" class="contentimg" :src="article.Picture1" alt="...">
          <img v-else class="contentimg" src="../../public/forest.jpg" alt="...">
          <div class="content-withoutimg">
            <h5 class="content-name">{{ article.Name }}</h5>
            <p class="content-description">{{ article.Description }}</p>
            <div class="content-group-first">
              <div class="content-add">
                {{ article.Add }}
              </div>
              <div v-show="article.Orgclass" class="content-orgclass">
                {{ article.Orgclass }}
              </div>
            </div>
            <div class="content-group-second">
              <div class="content-region">
                <i class="fas fa-map-marker-alt" style="color: black"></i>
                {{ article.Region }}
              </div>
              <div class="content-changetime">
                <i class="fas fa-calendar-alt" style="color: black"></i>
                {{ article.Changetime }}
              </div>
            </div>
          </div>
        </div>
        <div class="page-control">
          <Page :total="totalElements" :page-size="size" @on-change="handleSearch"/>
        </div>
      </div>
      <!-- <router-view name="contentpage"/> -->
      <!-- <ContentPage :articlePageContent="articlePageContent"/> -->
    </div>
  </div>
</template>

<script>
// import ContentPage from "../components/ContentPage.vue";
import axios from 'axios';
// import { mapState } from "vuex";

export default {
    // components: {
    //   ContentPage
    // },
    computed: {
        articleFilteredList() {
            return this.articleList.filter(article => {
                return article.Name.toLowerCase().includes(this.searchvalue.toLowerCase())
            })
        }
    },
    data() {
        return {
            searchvalue: '',
            // articlePageContent: {},
            size: 20,
            totalElements: 0,
            // modal: false,
            locationList: [
                {
                    value: "Taiwan",
                    label: "Taiwan"
                },
                {
                    value: "Japan",
                    label: "Japan"
                },
                {
                    value: "China",
                    label: "China"
                }
            ],
            articleList: []
        };
    },
    methods: {
        showContent (article) {
            this.$router.push({ name: 'contentpage' })
            // this.articlePageContent = article;
            this.$store.commit('pushItem', article)
            // this.modal = true;
        },
        goHomePage () {
            this.$router.push({ name: 'home' })
            // this.modal = false
        },
        async handleSearch (page) {
              if (typeof page === 'number') {
                page
              } else {
                1
              }
              await this.getData (page)
            },
        async getData (page) {
            const that = this;
            await axios.get('https://gis.taiwan.net.tw/XMLReleaseALL_public/scenic_spot_C_f.json')
              .then(function (response) {
                that.articleList = response.data.XML_Head.Infos.Info.slice( 0+(page-1)*that.size, page*that.size )
                that.totalElements = response.data.XML_Head.Infos.Info.length
              })
              .catch(function (error) {
                console.log(error);
              });
        }
    },
    async mounted () {
        await this.getData(1);
    }
}
</script>

<style scoped>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

.home {
  background-color: #F2F2F2;
  background-size: cover;
}

.header {
  background-color: #7828B4;
  height: 80px; display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logoarea {
  width: 30%;
}

.logo {
  cursor: pointer;
}

.searchbararea {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #dbdbdb;  
}

.searchicon {
  padding: 4px 0 0 0;
  color: #FFFFFF;
  opacity: 0.6;
}

.searchinput {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 0 0 5px;
  padding: 0 0 5px 0;
}

.searchinput::placeholder {
  color: #FFFFFF;
  opacity: 0.6;
}

.mainpage {
  display:flex;
  flex-direction: row;
}

.leftpage {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:30%;
}

.cardstyle {
  width: 80%;
  background-color: #EBEBEB;
}

.card-titlestyle {
  text-align:left;
}

.form-groupstyle {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.accordionstyle {
  display: none;
}

.rightpage {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width:70%;
}

.rightpage-title {
  margin-top: 15px
}

.total-content {
  width: 90%;
  margin-top: 15px;
  display:flex;
  background-color: #FFFFFF;
}

.total-content:hover {
  cursor: pointer;
  transition: box-shadow .25s;
  box-shadow: 5px 8px 20px 0 rgba(62, 61, 61, 0.2);
}

.contentimg {
  width: 25%;
}

.content-withoutimg {
  margin-left: 10px;
  padding: 20px 20px 20px 5px;
  width: 80%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-name {
  margin: 5px 0 0 5px;
  font-weight: bold;
  color: #9013FE;
}

.content-description {
  margin: 5px 0 0 5px;
  text-align: left;
}

.content-group-first {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content-add {
  font-weight: bold;
  padding: 5px;
}

.content-orgclass {
  border-radius: 10px;
  background-color: #D7D7D7;
  margin-left: 15px;
  padding: 5px;
  color: #FFFFFF;
}

.content-group-second {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content-region {
  padding: 5px;
  color: #9B9B9B;
}

.content-changetime {
  margin-left: 15px;
  padding: 5px;
  color: #9B9B9B;
}

.page-control {
  margin: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
}


@media (max-width:414px) {
  .home {
    background-color: #F2F2F2;
    background-size: cover;
  }

  .header {
    background-color: #F2F2F2;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .logoarea {
    background-color: #7828B4;
    width: 100%;
  }

  .logo {
    padding: 5px;
    cursor: pointer;
  }

  .searchbararea {
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #3f3e3e;  
  }

  .searchicon {
    padding: 4px 0 0 0;
    color: #3f3e3e;
    opacity: 0.6;
  }

  .searchinput {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 0 0 5px;
    padding: 0 0 5px 0;
  }

  .searchinput::placeholder {
    color: #3f3e3e;
    opacity: 0.6;
  }

  .mainpage {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
  }

  .leftpage {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
  }

  .mobile-no-use {
    display: none;
  }

  .cardstyle {
    width: 100%;
    background-color: #EBEBEB;
  }

  .card-titlestyle {
    text-align:left;
  }

  .form-groupstyle {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

  .accordionstyle {
    display: block;
    width: 100%
  }

  [aria-expanded="false"] .icon-plus {
    display: inline-block;
  }

  [aria-expanded="false"] .icon-minus {
    display: none;
  }

  [aria-expanded="true"] .icon-minus {
    display: inline-block;
  }

  [aria-expanded="true"] .icon-plus {
    display: none;
  }

  .collapse-icon-change {
    display:flex;
    justify-content: space-between;
  }

  .icon-plus {
    margin-top: 5px;
  }

  .icon-minus {
    margin-top: 5px;
  }

  .rightpage {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
  }

  .rightpage-title {
    display: none;
  }

  .total-content {
    width: 90%;
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
  }

  .total-content:hover {
    cursor: pointer;
    transition: box-shadow .25s;
    box-shadow: 5px 8px 20px 0 rgba(62, 61, 61, 0.2);
  }

  .contentimg {
    width: 100%;
    height: 50%;
  }

  .content-withoutimg {
    padding: 20px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content-name {
    margin: 5px 0 0 0;
    font-weight: bold;
    color: #9013FE;
  }

  .content-description {
    margin: 5px 0 0 0;
    text-align: left;
  }

  .content-group-first {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content-add {
    font-weight: bold;
  }

  .content-orgclass {
    border-radius: 10px;
    background-color: #D7D7D7;
    color: #FFFFFF;
  }

  .content-group-second {
    display:flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
  }

  .content-region {
    padding: 5px;
    color: #9B9B9B;
  }

  .content-changetime {
    padding: 5px;
    color: #9B9B9B;
  }

}

</style>

