<template>
  <div class="home">
    <div class="header">
      <div class="logoarea">
        <img class="logo" src="../../public/logo.png" width="100px" height="50px" @click="goHomePage">
      </div>
      <div class="searchbararea">
        <i class="fas fa-search searchicon"></i>
        <input type="text" placeholder="Explor your own activities" class="searchinput" v-model="searchvalue">
      </div>
    </div>
    <div class="mainpage">
      <!-- 左邊頁面，mobile變成上下部分，mobile不顯示 -->
      <div class="leftpage">
        <div class="card cardstyle">
          <div class="card-body" style="text-align:left;">
            <h5 class="card-title card-titlestyle">Location</h5>
            <select class="custom-select" id="inputGroupSelect01">
              <option v-for="item in locationList" :value="item.value" :key="item.value">{{ item.label }}</option>
            </select>
          </div>
        </div>
        <div class="card cardstyle">
          <div class="card-body" style="text-align:left;">
            <h5 class="card-title card-titlestyle">Date</h5>
            <div class="form-group form-groupstyle">
              <label for="fromDate" style="margin:1px 5px 0 0">from</label>
              <input type="text" class="form-control" id="fromDate" placeholder="2018/5/24">
            </div>
            <div class="form-group form-groupstyle">
              <label for="toDate" style="margin:1px 5px 0 0">to</label>
              <input type="text" class="form-control" id="toDate" placeholder="2018/6/1">
            </div>
          </div>
        </div>
        <div class="card cardstyle">
          <div class="card-body" style="text-align:left;">
            <h5 class="card-title card-titlestyle">Categories</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="All">
              <label class="form-check-label" for="All">All</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Entertainment">
              <label class="form-check-label" for="Entertainment">Entertainment</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Food">
              <label class="form-check-label" for="Food">Food</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Learning">
              <label class="form-check-label" for="Learning">Learning</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="Outdoors">
              <label class="form-check-label" for="Outdoors">Outdoors</label>
            </div>
          </div>
        </div>
      </div>
      <!-- 右邊頁面，mobile變成上下部分 -->
      <div class="content">
        <div class="content-title">
          <div class="explor">Explor</div>
          <div class="explor-name">/ {{ articlePageContent.Name }}</div>
        </div>
        <div class="card-content">
          <img v-if="articlePageContent.Picture1" class="content-img" :src="articlePageContent.Picture1" alt="...">
          <img v-else class="content-img" src="../../public/forest.jpg" alt="...">
          <div class="content-withoutimg">
            <div class="content-name">
              {{ articlePageContent.Name }}
            </div>
            <div class="content-group">
              <div class="content-add">
                {{ articlePageContent.Add }}
              </div>
              <div v-show="articlePageContent.Orgclass" class="content-orgclass">
                {{ articlePageContent.Orgclass }}
              </div>
            </div>
            <div class="content-group">
              <div class="content-region">
                <i class="fas fa-map-marker-alt" style="color: black"></i>
                {{ articlePageContent.Region }}
              </div>
              <div class="content-changetime">
                <i class="fas fa-calendar-alt" style="color: black"></i>
                {{ articlePageContent.Changetime }}
              </div>
            </div>
            <p class="content-toldescribe">{{ articlePageContent.Toldescribe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(['articlePageContent'])
  },
  // props: ['articlePageContent'],
  data() {
    return {
      searchvalue: '',
      locationList: [
          {
              value: "Taiwan",
              label: "Taiwan"
          },
          {
              value: "Japan",
              label: "Japan"
          },
          {
              value: "China",
              label: "China"
          }
      ]
    }
  },
  methods: {
    goHomePage () {
      this.$router.push({ name: 'home' })
    },
  }
}
</script>

<style scoped>

.home {
  background-color: #F2F2F2;
  background-size: cover;
}

.header {
  background-color: #7828B4;
  height: 80px; display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logoarea {
  width: 30%;
}

.logo {
  cursor: pointer;
}

.searchbararea {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #dbdbdb;  
}

.searchicon {
  padding: 4px 0 0 0;
  color: #FFFFFF;
  opacity: 0.6;
}

.searchinput {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 0 0 5px;
  padding: 0 0 5px 0;
}

.searchinput::placeholder {
  color: #FFFFFF;
  opacity: 0.6;
}

.mainpage {
  display:flex;
  flex-direction: row;
}

.leftpage {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:30%;
}

.cardstyle {
  width: 80%;
  background-color: #EBEBEB;
}

.card-titlestyle {
  text-align:left;
}

.form-groupstyle {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.content-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color:#EBEBEB;
  width: 90%;
  margin-top: 15px;
}

.explor {
  color: #9013FE;
  padding: 10px 0 10px 10px;
}

.explor-name {
  color: #9B9B9B;
  padding: 10px 0 10px 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin-top: 20px;
}

.content-img {
  width: 100%;
  height: 50%;
}

.content-withoutimg{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #FFFFFF;
}

.content-name {
  display:flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size:36px;
  color: #9013FE;
  padding: 5px;
}

.content-group {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content-add {
  font-weight: bold;
  padding: 5px;
}

.content-orgclass {
  border-radius: 10px;
  background-color: #D7D7D7;
  margin-left: 15px;
  padding: 5px;
  color: #FFFFFF;
}

.content-region {
  padding: 5px;
  color: #9B9B9B
}

.content-changetime {
  margin-left: 15px;
  padding: 5px;
  color: #9B9B9B;
}

.content-toldescribe {
  margin: 5px 0 0 5px;
  text-align: left;
}

@media (max-width:414px) {
  .home {
    background-color: #F2F2F2;
    background-size: cover;
  }

  .header {
    background-color: #F2F2F2;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .logoarea {
    background-color: #7828B4;
    width: 100%;
  }

  .logo {
    padding: 5px;
    cursor: pointer;
  }

  .searchbararea {
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #3f3e3e;  
  }

  .searchicon {
    padding: 4px 0 0 0;
    color: #3f3e3e;
    opacity: 0.6;
  }

  .searchinput {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 0 0 5px;
    padding: 0 0 5px 0;
  }

  .searchinput::placeholder {
    color: #3f3e3e;
    opacity: 0.6;
  }

  .mainpage {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
  }

  .leftpage {
    display:none;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%; */
  }

  .cardstyle {
    width: 100%;
    background-color: #EBEBEB;
  }

  .card-titlestyle {
    text-align:left;
  }

  .form-groupstyle {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .content {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .content-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:#EBEBEB;
    width: 90%;
    margin-top: 15px;
  }

  .explor {
    color: #9013FE;
    padding: 10px 0 10px 10px;
  }

  .explor-name {
    color: #9B9B9B;
    padding: 10px 0 10px 5px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin-top: 20px;
  }

  .content-img {
    width: 100%;
    height: 50%;
  }

  .content-withoutimg{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FFFFFF;
  }

  .content-name {
    display:flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size:24px;
    color: #9013FE;
    padding: 5px;
  }

  .content-group {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .content-add {
    font-weight: bold;
    padding: 5px;
  }

  .content-orgclass {
    border-radius: 10px;
    background-color: #D7D7D7;
    margin-left: 15px;
    padding: 5px;
    color: #FFFFFF;
  }

  .content-region {
    padding: 5px;
    color: #9B9B9B
  }

  .content-changetime {
    margin-left: 15px;
    padding: 5px;
    color: #9B9B9B;
  }

  .content-toldescribe {
    margin: 5px 0 0 5px;
    text-align: left;
  }
}

</style>